.ht-button {
  @apply inline-flex items-center border  rounded-md justify-center gap-2 font-bold cursor-pointer border-none transition-all duration-200 ease-in-out;

  &__icon {
    @apply text-base leading-none; /* 16px */
  }

  &__label {
    white-space: nowrap;
  }

  /* ===== Sizes ===== */
  &--lg {
    @apply px-[26px] py-[12px] text-[14px]; /* px از توکن پروژه 26px, py 12px */
  }

  &--sm {
    @apply px-[18px] py-[9px] text-[13px];
  }
  /* ===== Types ===== */
  &--primary {
    @apply bg-[#E20054] text-white hover:bg-[#C8004B];
  }

  &--secondary {
    @apply bg-white text-red-500 rounded-xl border disabled:text-text-disabled disabled:bg-outline-disabled hover:bg-outline-hover hover:text-outline-text;
    border: 1.5px solid #e9edf5;
  }

  &--outline {
    @apply bg-transparent text-[#E20054];
    border: 1.5px solid #e20054;
  }

  /* ===== Icon only ===== */
  &--icon-only {
    @apply p-[12px] border rounded-[8px] w-auto h-auto;
  }
}
