.loading-overlay {
  @apply fixed inset-0 z-[999] flex flex-col justify-center items-center bg-white;

  &__content {
    @apply flex flex-col items-center gap-10;
  }

  &__logo {
    @apply w-40;
  }

  &__progress {
    @apply w-40 h-1.5 bg-gray-200 rounded-full overflow-hidden;
  }

  &__bar {
    @apply h-full rounded-full relative;

    &--indeterminate {
      @apply bg-black;
      width: 50%;
      left: 50%;
      animation: bluebar 1.5s infinite ease;
    }
  }

  &__bottom-logo {
    @apply absolute bottom-10 left-1/2 -translate-x-1/2 flex justify-center items-center w-[200] h-[120];
  }
}

.app-layout {
  @apply min-h-screen flex flex-col bg-secondary;

  &__main {
    @apply flex-1 flex flex-col w-full pt-[122px] mb-[68px] overflow-x-hidden;
  }
}

@keyframes bluebar {
  0%,
  10% {
    width: 15%;
    left: 0;
    background-color: #fff;
  }
  40%,
  60% {
    width: 100%;
    left: 0;
    background-color: #F180A9;
  }
  90%,
  100% {
    width: 15%;
    left: 85%;
    background-color: #F180A9;
  }
}
